name: ci
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-show-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Show Files
        run: |
          ls -al
